/* модифікатори та доповнення */
.header--height {
    min-height: 80px;
}
/* --- */


/* HEADER */
.header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__row-left {
    display: flex;
    align-items: center;
}

.logo {
    transition: all 0.4s;
}
@media (min-width: 769px) {
    .logo:hover {
        transform: scale(1.03);
    }
}

.header__logo {
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    position: relative;
}

.menu__item:not(:last-child) {
    margin-right: 40px;
}

.menu__link {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 20px;

    transition: all 0.3s;
    position: relative;
}

.header-menu__link--active::before {
    content:'';
    display: block;
    height: 4px;
    width: 0;
    border-radius: 3px;
    background-color: #3172b9;
    position: absolute;
    left: 50%;
    bottom: -150%;
    z-index: -5;
    transform: translate(-50%);

    transition: all 0.5s;
}
@media (min-width: 769px) {
    .header-menu__link--active:hover {
        color: #3172b9;
    }
    .header-menu__link--active:hover::before {
        width: 100%;
    }
}

/* dropdown */
.dropdown {
    min-width: 90px;
    position: relative;
}

.dropdown__btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 2;

    transition: all 1s;
}

.menu__button-text {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
    margin-right: 15px;

    transition: all 0.3s;
}

.dropdown__btn:hover .menu__button-text {
    color: #3172b9;
}
.dropdown__btn:hover .dropdown__arrow {
    fill: #3172b9;
}

.dropdown__arrow {
    margin-top: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 100%);
    min-height: 0;
    z-index: 1;

    transition: all 0.3s;
}

.dropdown-content__wrap {
    margin-top: 50px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-content__item {
}

.dropdown-content__link {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;

    color: #000;
    padding: 10px;
}
@media (min-width:769px) {
    .dropdown-content__link--active:hover {
        color: #3172b9;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        min-height: none;
    }
}

.button-text {
    font-size: 15px;
    font-weight: 600;

    background-color: #3172b9;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;

    transition: all 0.2s;
}

.header-button__text {
    padding: 18px 36px;
    display: inline-block;
}
@media (min-width: 769px) {
    .header-button__text--active:hover {
        background-color: #134275;
    }
}
/* --- */




/* BURGER меню !!! */
.burger-button {
    height: 24px;
    width: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    margin-right: 30px;
}

.burger-button__line {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 5px;
}

.burger-button__line::before,
.burger-button__line::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
    position: absolute;
    border-radius: 5px;
}

.burger-button__line::before {
    top: 0;
}

.burger-button__line::after {
    bottom: 0;
}


/* menu-overlay - ACTIVE */
.burger-button {
    display: none;
}

#wrap-eclipse {
    display: none;
}

#wrap-eclipse.display--block {
    display: block;
}

#header-overlay {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s;
}

#header-overlay.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

#body.fixed {
    overflow: hidden;
}