
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

